/* mobile */

/* layout */
.w {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}

/* list */
.flex,
.flexul li {
  flex-wrap: wrap;
}

.flex.fullm li,
.flex.half li {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.flex.half li:nth-child(odd) {
  padding-right: 0;
}

.flex.half li:nth-child(even) {
  padding-left: 0;
}

.dec {
  margin-top: 20px;
}

.license-date + strong {
  width: 100%;
  margin-top: 4px;
}
