/* style */
:root {
  --bg-gray: #f7f7f7;
  --bg-gray-blue: #8c999a;
  --bg-green: #77b255;
  --font-color: #111;
  --font-gray: #666;
}

::selection {
  background-color: var(--bg-gray-blue);
  color: white;
}

/* common */
body {
  font-family: 'Pretendard', 'Open Sans', 'Noto Sans KR', 'Helvetica Neue', 'Arial', 'Malgun Gothic', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.02em;
  color: var(--font-color);
  min-width: 365px;
  word-wrap: break-word;
}

a {
  color: var(--font-color);
}

a > span {
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: linear-gradient(to top, rgba(255, 228, 0, 0.4) 60%, transparent 40%);
  transition: 0.2s all ease-in-out;
  border-radius: 40% 20%;
}

a:hover > span {
  background-size: 100% 100%;
}

a > span::after {
  content: '↗';
  margin-left: 4px;
}

.copyright a > span::after {
  display: none;
}

strong {
  font-weight: bold;
}

small,
.date,
.position,
#btn-pdf a {
  font-size: 0.875rem;
  line-height: 1.4;
}

small,
.date,
.position {
  color: var(--font-gray);
}

small::before {
  content: '*';
  margin-right: 4px;
  vertical-align: text-top;
}

/* pdf download button */
#btn-pdf {
  text-align: right;
  position: relative;
}

#btn-pdf svg {
  width: 160px;
  position: relative;
  right: -10px;
}

#btn-pdf a {
  display: block;
  width: 140px;
  height: 140px;
  position: absolute;
  top: 10px;
  right: 0;
  color: white;
  border: 0;
  text-align: center;
  padding-top: 50px;
  font-size: 1rem;
}

#btn-pdf a:hover {
  color: rgba(255, 255, 255, 0.7);
}

#btn-pdf i {
  margin-right: 6px;
  font-size: 1.1rem;
}

/* layout */
.w {
  max-width: calc(840px + 2rem);
  margin: 0 auto;
  padding: 0 3rem;
}

section#Introduce {
  padding-top: calc(12vh + 60px);
}

.flex,
.flexul li {
  display: flex;
  align-items: start;
}

.flex.acenter,
.flexul.acenter li {
  align-items: center;
}

.flexwrap {
  flex-wrap: wrap;
}

.flex.half > li {
  width: 50%;
}

.flex.half li:nth-child(odd) {
  padding-right: 1rem;
}

.flex.half li:nth-child(even) {
  padding-left: 1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  z-index: 99;
  line-height: 60px;
  overflow: hidden;
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 1.65rem;
  font-weight: bold;
  margin: 0 0 30px;
  padding-top: 60px;
}

h2.hello {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.04em;
  margin-top: 0;
  margin-bottom: 20px;
}

h2.hello::after {
  display: inline-block;
  content: '';
  width: 11px;
  height: 11px;
  background: var(--bg-green);
  border-radius: 100%;
  margin-left: 6px;
}

h3,
.contents a {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 4px;
}

.contents {
  margin-top: 60px;
  column-gap: 24px;
}

.contents a:hover {
  color: var(--bg-green);
}

h4 {
  font-size: 1.15rem;
  font-weight: bold;
  margin-bottom: 4px;
}

.decmt {
  margin-top: 1rem;
}

.decmt2 {
  margin-top: 2rem;
}

/* list style */
.type {
  display: table-cell;
  background: var(--bg-gray-blue);
  color: white;
  font-weight: normal;
  font-size: 0.78rem;
  padding: 0 6px;
  border-radius: 6px;
  height: 20px;
  line-height: 20px;
}

.ico {
  display: inline-block;
  font-size: 1.1rem;
  margin-right: 4px;
}

.dot li {
  position: relative;
  padding-left: 18px;
}

.dot li::before {
  content: '';
  width: 5px;
  height: 5px;
  background: #111;
  display: block;
  border-radius: 100%;
  position: absolute;
  top: 0.75rem;
  left: 0;
}

.dec .dot {
  margin-top: 10px;
}

.dec .dot li::before {
  top: 0.6rem;
}

.timeline {
  position: relative;
  padding-left: 55px;
  padding-top: 28px;
}

.timeline::before {
  position: absolute;
  top: 0;
  left: 5px;
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background-color: #ddd;
}

.timeline > li {
  position: relative;
  padding-bottom: 2rem;
}

.timeline > li::before {
  position: absolute;
  top: 11px;
  left: -55px;
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  background-color: var(--bg-green);
  border-radius: 100%;
}

.certificates .timeline > li::before {
  top: 7px;
}

.timeline.flexul li > div:first-child {
  min-width: 220px;
  width: 32%;
  flex-shrink: 0;
}

.linkwrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 1rem 0 1.2rem;
}

.linkwrapper li a {
  display: block;
  border: 1px solid #ddd;
  padding: 4px 8px;
  font-size: 0.9375rem;
  border-radius: 4px;
}

.linkwrapper li a:hover {
  border-color: var(--bg-green);
  color: white;
  background-color: var(--bg-green);
}

/* shortcut */
#shortcut {
  position: fixed;
  top: 50%;
  left: 32px;
  transform: translate(0, -50%);
  padding-left: 32px;
  padding-top: 0.5rem;
}

#shortcut.timeline > li::before {
  left: -32px;
  top: 8px;
}

#shortcut.timeline > li {
  padding-bottom: 0.5rem;
}

#shortcut.timeline > li a {
  color: #888;
  font-size: 0.9375rem;
}

#shortcut.timeline > li.active a,
#shortcut.timeline > li a:hover {
  color: var(--bg-green);
  font-size: 0.9375rem;
}

@media screen and (max-width: 1260px) {
  #shortcut {
    display: none;
  }
}

/* to top btn */
#topbtn {
  position: fixed;
  right: 3rem;
  bottom: 20px;
}

#topbtn.hide {
  display: none;
}

#topbtn a {
  display: block;
  border: 5px solid #eee;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url('data:image/svg+xml;utf8, <svg fill="lightgray" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="GUIDE"/><g id="Layer_1"/><g id="Layer_2"/><g id="Layer_3"/><g id="Layer_4"/><g id="Layer_5"/><g id="Layer_7"/><g id="Layer_8"/><g id="Layer_9"/><g id="Layer_10"/><g id="Layer_11"/><g id="Layer_12"/><g id="Layer_13"/><g id="Layer_14"/><g id="Layer_15"/><g id="Layer_16"/><g id="Layer_17"/><g id="Layer_18"/><g id="Layer_19"/><g id="Layer_20"/><g id="Layer_21"/><g id="Layer_22"/><g id="Layer_23"/><g id="Layer_24"/><g id="Layer_25"/><g id="Layer_26"/><g id="Layer_27"/><g id="Layer_28"/><g id="Layer_29"/><g id="Layer_30"/><g id="Layer_31"/><g id="Layer_32"/><g id="Layer_33"/><g id="Layer_34"/><g id="Layer_35"/><g id="Layer_36"/><g id="Layer_37"/><g id="Layer_38"/><g id="Layer_39"/><g id="Layer_40"/><g id="Layer_41"/><g id="Layer_42"/><g id="Layer_43"/><g id="Layer_44"/><g id="Layer_45"/><g id="Layer_46"/><g id="Layer_47"/><g id="Layer_48"/><g id="Layer_49"/><g id="Layer_50"/><g id="Layer_51"><g><polygon points="16.5,25 16.5,8.9 21.6,14 22.4,13.3 16,7 9.7,13.3 10.4,14 15.5,8.9 15.5,25   "/></g></g></svg>');
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

#topbtn a:hover {
  border-style: dashed;
}

/* profile */
.contact {
  margin: 24px 0;
}

.contact li {
  margin-right: 28px;
}

.vision li,
.contact.dot,
.thanks {
  font-size: 1.125rem;
  line-height: 1.7;
}

/* projects */
.date {
  margin-bottom: 6px;
}

/* licenses */
.license-date {
  width: 3.7rem;
  text-align: center;
  margin-right: 12px;
}

/* copyright */
.copyright {
  padding-top: 12vh;
  line-height: 60px;
  font-size: 0.8125rem;
}

.copyright,
.copyright a {
  color: var(--font-gray);
}
